*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    padding: 40px 150px 70px 150px;
    border-bottom: 80px solid #00569c;
}

.logo{
    display: block;
    margin-right: 250px;
   
}

.logo img{
    display: block;
    width: 350px;
    height: auto;
}

.header-text{
    font-size: 2.1em;
    font-weight: 400;
    line-height: 45pt;
}

.main{
    text-align: center;
    padding: 60px 40px;
}

.h1, .verify-mail-text{
    font-size: 3.5em;
}

.verify-mail-text{
    font-weight: 400;
}
.main-text{
    margin-top: 50px;
    font-size: 1.8em;
    line-height: 36pt;
}

.btn{
    padding: 30px 50px;
    background-color: #00569c;
    color: #fff;
    font-size: 2.3em;
    border-radius: 5px;
    border: 1px solid #00569c;
    margin-top: 60px;
}

.btn-div{
    height: 250px;
}

.btn:hover{
    color: rgb(231, 231, 231);
    font-size: 2.4em;
    padding: 32px 52px;
    transition: all ease-in 200ms;
    cursor: pointer;
}

.verify-mail-code{
    padding: 5px 10px;
    margin: 50px auto;
    font-size: 3em;
    font-weight: 700;
    background-color: #dbdbdb;
    width: 200px;
    color: #000;
}

.footer-text{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 36pt;
}

a{
    text-decoration: none;
    color: #00569c;
    cursor: pointer;
}

/* media */

@media only screen and (max-width: 1345px){
    .header-text{
        font-size: 1.6em;
    }

    .logo img{
        width: 300px;
    }
}

@media only screen and (max-width: 1024px){
    .logo{
        margin-right: 100px;
    }
    .header-text {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 800px){
    .header{
        padding: 20px 110px 50px 110px;
    }
    .header-text{
        line-height: 30pt;
    }
    .logo{
        margin-right: 50px;
    }
    .logo img{
        width: 130px;
    }
    .verify-mail-code{
        width: 300px;
    }
}

@media only screen and (max-width: 600px){
    .logo img {
        width: 85px;
    }
    .header-text {
        font-size: 1em;
        line-height: 20pt;
    }
    .header{
        padding: 20px 40px 30px 40px;
    }
    .h1, .verify-mail-text {
        font-size: 2.2em;
    }
    .main-text, .footer-text{
        font-size: 1.2em;
        line-height: 30pt;
    }
    .btn{
        font-size: 1.5em;
    }
    .btn:hover{
        font-size: 1.6em;
    }
}